/* Body styles */
body {
    font-family: 'Georgia', serif;
    background-color: #1e1e2f;
    color: #e4e4e6;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background: linear-gradient(90deg, #4b0082, #000);
    color: white;
    text-align: center;
    padding: 2em 0;
}

/* Navigation Bar styles */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4b0082;
}

/* Home Content Section styles */
#home-content {
    padding: 2em;
    background: #2a2a40;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#home-content h2 {
    font-size: 2.5em;
    color: #4b0082;
}

#home-content p {
    font-size: 1.2em;
    margin: 1em 0;
}

#home-content button {
    background-color: #4b0082;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#home-content button:hover {
    background-color: #371456;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
